body{padding-top: 30px;}

.profile{
  position: relative;
  width: 300px; 
  text-align: center;
  padding: 1rem;
  border: 1px solid #ebebeb;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  margin: 0px auto;
  margin-bottom: 20px;
}

.profile img{
  width: 180px; 
  height: 200px;
  border-radius: 50%;
}

.new{
  position: absolute; right: 20%; top: 10%;
  background-color: thistle;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
}